* {
    margin: 0;
    padding: 0;
}

.body_div {
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.heading {
    font-family: myFontBold;
    font-size: 11vh;
    margin-bottom: 3vh;
}

.searchbox {
    width: 30vw;
    height: 5vh;
    outline: none;
    border: 2px solid black;
    border-radius: 8px;
    font-family: myFont;
    font-size: 2.5vh;
    text-align: center;
}

.or {
    font-size: 3.5vh;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.link {
    font-size: 3.5vh;
    color: black;
}

.filtered {
    background-color: white;
    width: 29vw;
    margin: auto;
    font-size: 3.5vh;
    color: black;
}

.ghostrider {
    position: absolute;
    z-index: 2;
    left: 5vw;
    bottom: -30vh;
    width: 34vw;
}

.character {
    position: absolute;
    z-index: 2;
    right: 6vw;
    bottom: -30vh;
    width: 30vw;
}
